{% extends 'main.html' %} {% load static %} {% block content %}
<!-- member create(+) button -->
<div class="add-member-section">
  <a href="{% url 'add' %}"><i class="fa-solid fa-plus"></i></a>
</div>

<!-- members list title -->
<h2>Team Members</h2>
{% if members_count <= 1 %}
<p class="h5 text-muted mb-5">You have {{ members_count }} team member.</p>
{% else %}
<p class="h5 text-muted mb-5">You have {{ members_count }} team members.</p>
{% endif %}

<!-- START members list -->
<hr />
{% if members %}
<ul class="list-group">
  {% for member in members %}
  <div>
    <a href="{% url 'edit' member.id %}">
      <li class="d-flex">
        <div class="image-cropper">
          <img src="{% static 'images/profile.png' %}" class="image-profile" />
        </div>
        <div class="image-parent ml-4">
          <div class="user-fullname">
            {{ member.first_name}} {{ member.last_name}} {{ member.role_text }}
          </div>
          <div class="text-muted">{{ member.phone_number}}</div>
          <div class="text-muted mb-2">{{ member.email}}</div>
        </div>
      </li>
    </a>
    <hr />
  </div>
  {% endfor %}
</ul>
<!-- END members list -->
{% else %}
<!-- No member in list -->
<strong>There are no team members</strong>
{% endif %} {% endblock %}
